*,*::before,*::after{
	box-sizing:border-box;
	padding:0;
	margin:0;
}
body{
    

   margin: auto;
   
   
   background-color: hsl(212, 45%, 89%);
   
   font-family: 'Outfit',sans-serif;
   padding:1.5em;
   

}
.container{
	display:flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

}
.card{
        max-width:18rem;
	border-radius: 15px;
	background-color:hsl(0, 0%, 100%);
	margin-bottom: 1em;
        margin-top:2em;
	border:2px solid white;
}
img{
	max-width: 100%;
	padding:1em;
	display:block;
	border-radius: 25px;
	text-align:center;
}
.header{
        
        align-self:flex-start;
	margin-left:.5em;
	font-size:20px;
	font-weight:bold;
	margin-right:.5em;
	
	


}
.header__two{
	 padding:1.5em;
	 color:hsl(220, 15%, 55%);
	font-size: 15px; 
	 margin-bottom: 1em;
	 text-align: center;
}
